# Compiled class file
#.gitignore
*.class
.classpath
.project
classpath-data.json
.myumldata

**/bin
**/bin/**

/.metadata
*/.metadata/*

.idea

/.settings
**/.settings
**/.settings/**

/.sts4-cache
**/.sts4-cache/**

# Log file
*.log
*.log.*
**/logs/**

# Build artifacts
3rdpartylicenses.txt

# Vite cache
**/.vite/**

*/jdk/*

*/org/apache/mybatis/jpa/**

**/build
**/build/**


*/META-INF/MANIFEST.MF

**/target/*

/.gradle/
/.gradle/*
.vscode/settings.json



release_frontend.bat

**/out/*


jinbooks-ui/package-lock.json
jinbooks-ui/yarn.lock
package-lock.json
/jinbooks/.gradle
jinbooks/.gradle/*

