<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %style{%logger{36}}{cyan}:%L - %msg%n"
                    disableAnsi="false" noConsoleNoAnsi="false"/>
        </Console>


        <!-- 滚动日志输出：每天生成 + 超过128MB滚动，最多保留15个文件 -->
        <RollingFile name="RollingFileAppender"
                     fileName="logs/jinbooks.log"
                     filePattern="logs/$${date:yyyyMMdd}/jinbooks-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] (%logger{36}:%L) - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="128 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- MyBatis 相关调试日志 -->
        <Logger name="com.baomidou.mybatisplus" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Logger name="org.apache.ibatis" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <!-- SQL 执行器详细日志 -->
        <Logger name="org.apache.ibatis.executor.statement" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>
        <Logger name="org.apache.ibatis.transaction.jdbc" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <!-- 项目 DAO 层日志 -->
        <Logger name="com.jinbooks.persistence.mapper" level="TRACE" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <!-- 关闭不需要的日志输出 -->
        <Logger name="org.hibernate.validator.internal.util.Version" level="OFF"/>
        <Logger name="org.quartz" level="OFF"/>

        <!-- 常见框架日志配置 -->
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.apache.logging" level="INFO"/>
        <Logger name="com.alibaba.nacos" level="ERROR"/>
        <Logger name="org.reflections.Reflections" level="ERROR"/>
        <Logger name="RocketmqRemoting" level="ERROR"/>

        <!-- 项目主包日志 -->
        <Logger name="com.jinbooks" level="DEBUG"/>

        <!-- 根日志配置 -->
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
